.ida-ui-container-left{
    border: 2px  solid steelblue;
    float:left;
    margin-left: 50px;
    width: 35%;
}
.ida-ui-container-right{
    border: 2px solid orange;
    float: right;
    width: 35%;
    margin-right: 70px;

}
.ida-ui-container-left, .ida-ui-container-right{
    padding: 10px;
    border-radius: 10px;
    display: inline-grid;
    
}
.ida-svg-container{
    width: 100%; /* Set the container width to 100% */
    max-width: 500px; /* Optionally, set a maximum width for the SVG */
    height: auto; /* This will maintain the aspect ratio */
}
@media (max-width: 600px) {
    .ida-svg-container {
      width: 100%;
    }
  }
.ida-ui-container{
    text-align: center;
}
.ida-container{
    width: 100%;
}
