.ida-ui-container-left{
    border: 2px  solid steelblue;
    float:left;
    margin-left: 50px;
    width: 35%;
}
.ida-ui-container-right{
    border: 2px solid orange;
    float: right;
    width: 35%;
    margin-right: 50px;

}
.ida-ui-container-left, .ida-ui-container-right{
    padding: 10px;
    border-radius: 10px;
    display: inline-grid;
    
}
.ida-svg-container{
    width: 100%; 
    height: auto; 
}

.ida-container{
    width: 600px; 
}
